/* google font */

@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

.noto-serif-font {
  font-family: "Noto Serif", serif;
}

.container {
  max-width: 1140px;
}

#header {
  margin-top: 40px;
  margin-bottom: 80px;
}
.banner {
  margin-top: 50px;
}
.deal-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.bloom-pic {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url("../assets/deal-bloom.png");
  color: white;
  width: 367px;
  height: 200px;
  background-repeat: no-repeat;
  margin-bottom: 25px;
  border-radius: 15px;
}
.ana-pic {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url("../assets/deal-ana.png");
  color: white;
  width: 367px;
  height: 200px;
  background-repeat: no-repeat;
  border-radius: 15px;
}
.zabo-pic {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url("../assets/deal-zabo.png");
  color: white;
  width: 75%;
  height: 425px;
  background-repeat: no-repeat;
  margin-left: 28px;
  border-radius: 15px;
}

/* join section */
.join-section {
  background-image: url("../assets/news-letter-bg.png");
  color: white;
  max-width: 100%;
  height: 530px;
  background-repeat: no-repeat;
}

/*mobile responsive  */
@media screen and (max-width: 576px) {
  * {
    margin: 0 auto;
  }
  body section {
    margin-top: 20px;
  }
  img {
    width: 100%;
  }
  .container {
    margin: 0 10px;
    max-width: 100%;
  }
  .banner {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .plant-section {
    margin-bottom: 40px;
  }
  #plant-list {
    display: list-item;
  }
  .deal-section {
    flex-direction: column;
  }
  .zabo-pic {
    width: 367px;
    height: 200px;
    margin-left: 0px;
    margin-top: 25px;
  }
  .zabo-pic h1 {
    font-weight: bold;
    font-size: 22px;
  }
  .zabo-pic button {
    font-size: 18px;
  }
  .join-section {
    width: 400px;
    height: 300px;
  }
  .join-section h1 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .join-section input {
    width: 200px;
    height: 40px;
  }
  .join-section button {
    width: 100px;
    height: 40px;
  }

  /* footer section */
  footer ul {
    display: grid;
    /* gap: 20px; */
    text-align: left;
    justify-content: left;
    justify-items: left;
  }
}
